.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.verticle{
    flex-direction: column;
}
.green{
    background-color: #4CAF50;
}
.space-between{
    justify-content: space-between;
}